# nginx configurations

proxy_set_header Host $host;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto $scheme;

server {
  listen 80;
  listen [::]:80;
  server_name ${FRONTEND_DOMAIN} www.${FRONTEND_DOMAIN};

  client_max_body_size 100M;

  location / {
    proxy_pass http://reactjs:${PORT};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
  }

  error_log /var/log/nginx/${FRONTEND_DOMAIN}-error.log;
  access_log /var/log/nginx/${FRONTEND_DOMAIN}-access.log;
}

server {
  listen 80;
  listen [::]:80;
  server_name ${API_DOMAIN} www.${API_DOMAIN};

  client_max_body_size 100M;

  location / {
    proxy_pass http://nestjs:${API_PORT};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
  }

  error_log /var/log/nginx/${API_DOMAIN}-error.log;
  access_log /var/log/nginx/${API_DOMAIN}-access.log;
}
